<html>
    
{{> header}}

    
<body>
    
    <header> {{navigation}}</header>  
      
    
<div class="home home-posts">
        {{#tag}}
        <div class="head">
            <h1>{{name}}</h1>
        </div>
        {{/tag}}
    
{{#foreach posts}}
    <article class="{{post_class}}">
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        
        <a href="{{url}}"><h2>{{title}}</h2></a> 
        
        <p>{{excerpt words="34"}}...</p>
        
        <a class="read-more" href="{{url}}">Read more</a>
        
    </article>
        
{{/foreach}}
        
<div class="page">
    {{pagination}}
</div>

    </div>

</body>

 {{> footer}}
